.main_container{
    height: 6vh;
    width: 100vw;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
    z-index: 2; 
}

.header_box{
    text-align: center;
    height: 6vh;
    width: 100vw;
    padding-top: 1.5vh;
    color: teal;
    font-family: cursive;
}

.links{
    color: teal;;
}

.links:hover{
    color:rgb(247, 152, 152)
}

.links:active{
    color: red;
}

.nav-link1,.nav-link2,.nav-link3{
    color:teal;
    text-decoration: none;
}

.active{
    color: teal;
}

.passive{
    color: teal;
    text-decoration: none;
}

@media only screen and(max-width:400px)
{
    .header_box,.main_container{
        font-family: comic sans MS;
    }
}

/* For screen with width smaller than 400px */
@media only screen and (max-width:400px){
    .header_box{
        
        
    }   
}

/* For screen with width smaller than 300px */
@media only screen and (max-width: 300px)
{
    .header_box{
        padding-left: 0vw;
        padding-right: 0vw;
        
    }
}

/* For screen with height smaller than 420px and the screeon should be in landscape mode. i.e. primarily for mobile phone in ladscape mode*/
@media only screen and (max-height: 420px), only screen and(orientation:landscape)
{
    .main_container{
        height: 10vh;
    }
}

/* For screen with height smaller than 300px and the screeon should be in landscape mode. i.e. primarily for mobile phone in ladscape mode*/
@media only screen and (max-height: 300px), only screen and(orientation:landscape)
{
    .main_container{
        height: 12vh;
    }
}

