
body{
    overflow-x: hidden;
}

.projCol{
    width: 60vw;
    padding: 5vh;
            
}

.Container{
    padding-left: 20vw;
    padding-bottom: 5vh;
    padding-top: 10vh;
    padding-top: 2vh;
    overflow-x: hidden; 
}

.projRow{
    height: 60vh;
    width: 60vw;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 3vh;
    box-shadow: 5px 5px 0px  rgb(188, 215, 248);
    border-radius: 2vh;
    font-family: cursive;
}

.despBox{
    color: white;
    padding-top: 10vh; 
    width: 27vw;
    padding-right: 2vw;       
}

.imageBox{
    width: 8vw;
    color:rgb(175, 219, 246);
    margin-top: 0vh;
    
    
}

.imageBox,.despBox{
    margin-left: 1.2vw;
    margin-top: 3vh;
}

.maindesp{
    text-align: justify;
    padding-right: 2vw; 
    padding-top: 2vh;
}

.toolsBox{
    padding-top: 3vh;    
}

img{
    height: 55vh;
    
}


/* For screen with width smaller than 1500px */
@media only screen and (max-width:1500px)
{
    .projCol{
    
        width: 80vw;
        height: 125vh;
        border-style: dotted;  
    }
    
    .projectContainer{
        padding-top: 2vh;
        padding-left: 10vw;
        overflow: hidden;
    }
    
    .projRow{
        height: 55vh;
        width: 80vw;
        margin: double;
        padding-top: 1vh;
        margin-left: -10vw;   
    }

    .imageBox,img{
        height: 49vh; 
    }
}

/* For screen with width smaller than 853px */
@media only screen and (max-width: 853px){
    .projRow{
        padding-left: 3vw;
        height: 72vh;
        margin-top: 1vh;
        font-size: smaller;
        margin-top: 3vh;
        
    }

    .despBox{
        
        font-size: 16px;
        padding-top: 42vh;
        margin-left: -80vw;
        width: 1vw;   
    }

    .imageBox,img{
        
        width: 20vw;
        height: 40vh;
        border-style: dotted();
        margin-left: -1.5vw; 
        z-index: 1;   
    }

    .imageBox{
        padding-top: -2vh;
    }
    .projectContainer{
       padding-top: 0.5vh;
    }
    

}


/* For screen with width smaller than 450px */
@media only screen and (max-width:450px){
    .projRow{
        padding-left: 3.5vw;
        height: 75vh;
        margin-top: 3vh;
        
        
        
    }

    .projectContainer{
        padding-top:1vh;
        padding-left: 9vw;
    }
}



/* For screen with width smaller than 376px */
@media only screen and (max-width: 376px){

    .projRow{
        width: 80vw;
        margin-right: 10vw;
        height: 83vh;
        margin-top: 5vh;   
    }
    .projectContainer{
        padding-left: 10vw;
    }
  
}

/* For screen with width smaller than 300px */
@media only screen and (max-width: 300px){

    .projRow{
        height: 95vh;     
    }
   
  
}

/* For screen with height smaller than 420px and the screeon should be in landscape mode. i.e. primarily for mobile phone in ladscape mode*/
@media only screen and (max-height: 420px), only screen and(orientation:landscape)
{
    .projRow{
        height: 100vh;
    }
}

/* For screen with height smaller than 300px and the screeon should be in landscape mode. i.e. primarily for mobile phone in ladscape mode*/
@media only screen and (max-height: 300px), only screen and(orientation:landscape)
{
    .projRow{
        height: 120vh;
    }
}

















