
.container {
    background-color: black;
    height: 74vh;
    width: 100vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    box-shadow: inset 0px 0px 10px 10px  rgb(175, 219, 246);
    border-radius: 2vh;
    
}

.name_box{
    
    width: 50vw;
    color: white;
    font-family: cursive;
    padding-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 3vh;;
  
}

.icon_box1, .icon_box2{
  
    color: white;
    height: 10vh;
    width: 8vw;
    
    
}

.icon_box1{
    text-align: left;
}

.icon_box2{
    margin-left: 5vw;
    
}


svg{
    height: 10vh;
    width: 2.5vw;
}


@media only screen and (max-width:800px)
{
    svg{
        height: 10vh;
        width: 5vw;
    }

    .Connect_box{
        
        width: 80vw;
        
    }

    
    .code{
        background-image: url('Images/coder.gif');
        background-repeat: no-repeat;
        background-position: auto;
        height: 15vh;
        width: 2vw;
        color: white;
        margin-left: -2.5vh;
        
    }

    
}

.Connect_box{
    width:40vw;
    height: 10vh;
    color: white;
    padding-top: 15vh;
    padding-left: 10vw;
      
}

.welcome_box{
    margin-bottom: 5vh;
    text-align: center;
    color: white;
    font-family: cursive;
     
}

.code{
    background-image: url('Images/coder.gif');
    background-repeat: no-repeat;
    background-position: auto;
    width: 4vw;
    height: 25vh;
    color: white;
    margin-left: 4vw;
    
}

.Resume{
    color: white;
    text-align: center;
    
    
    
}
