.contactContainer{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(0, 0, 0);
    margin-top: 3vh;
    height: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: cursive;
    border-radius: 2vh;
    box-shadow: 10px 10px  rgb(175, 219, 246, 0.7);
    margin-bottom: 5vh;
  
}

.messageInput{
    height: 25vh;
    width: 50vw;
    
    text-align: center;
    border-radius: 2vh;

}

.top{
    width: 50vw;
    height: 10vh;
    text-align: center;
    border-radius: 2vh;

}

.nameBox, .emailBox, .Message{
    
    margin-bottom: 2vh;
    
}

.submitButton{
    color: green; 
    background-color: green;  
}

.submit{
    width: 10vw; 
    border-style: dotted;   
}

input{
    border-style: none;
    
}

.error{
    height:4vh;
    margin-bottom: 1vh;
    color: red;   
}







