.col{
    background-color: rgb(131, 131, 127);
    
}

.main_container{
    
    height: 6vh;

}

.header_box{
    text-align: center;
    height: 6vh;
    padding: 1vh;
    padding-left: 20vw;
    padding-right: 20vw;
    color: white;
   
}

.nav-link:hover{
    color: blue;
}