
.main_container{
    
    height: 6vh;
    width: 100vw;
    background-color: rgba(5, 53, 111, 0.447);
 
}

.header_box{
    text-align: center;
    height: 6vh;
    width: 100vw;
    padding: 1vh;
    padding-left: 20vw;
    padding-right: 20vw;
    color: rgb(255, 255, 255);
    
   
}


.links:hover{
    color: rgb(47, 47, 150);
}

