
.container {
    background-color: black;
    height: 80vh;
    width: 100vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    box-shadow: 10px 10px  rgb(211, 157, 157);
    border-radius: 2vh;
    
}

.name_box{
    
    width: 50vh;
    color: white;
    font-family: cursive;
    padding-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 3vh;;
  
}

.icon_box1, .icon_box2{
  
    color: white;
    height: 10vh;
    width: 8vw;
    
    
}

.icon_box1{
    text-align: left;
}

.icon_box2{
    margin-left: -25vw;
}


svg{
    height: 10vh;
    width: 2.5vw;
}


@media only screen and (max-width:800px)
{
    svg{
        height: 10vh;
        width: 5vw;
    }

    .icon_box2{
        margin-left: -20vw
    }

    
    .code{
        background-image: url('Images/coder.gif');
        background-repeat: no-repeat;
        background-position: auto;
        height: 15vh;
        width: 2vw;
        color: white;
        margin-left: -2.5vh;
        
    }

    
}


.Connect_box{
    width:35vw;
    height: 10vh;
    
}

.welcome_box{
    margin-bottom: 5vh;
    text-align: center;
    color: white;
    font-family: cursive;
     
}



.code{
    background-image: url('Images/coder.gif');
    background-repeat: no-repeat;
    background-position: auto;
    width: 4vw;
    height: 25vh;
    color: white;
    
    margin-left: 4vw;
    
   
    
    
    
    
}
