.projCol{
    
    width: 60vw;
    height: 150vh;
    padding: 5vh;
    overflow: hidden;
    
    
    
}

.projectContainer{
    
    padding-left: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

.projRow{
    height: 30vw;
    width: 60vw;
    text-align: center;
    background-color: black;
    color: rgb(180, 56, 56);
    margin-top: 2vh;
    box-shadow: 10px 10px  rgb(175, 219, 246);
    border-radius: 2vh;
    padding-left: 2vw;
    
}

.despBox{
    
    color: white;
    padding-top: 10vh;
    
}

.imageBox{
    
    height: 45vh;
    
    background-repeat: repeat;
    background-position: auto;
    
    
   
}

img{
    height: 30vh;
    border-style: dashed;
    width:30vw;

}

.imageBox,.despBox{
    margin-left: 1.2vw;
    margin-top: 3vh;
}

.maindesp{
    text-align: justify;
    padding: 1vh;
    
}

.toolsBox{
    padding-top: 5vh;
}



@media only screen and (max-width: 821px){
    .projRow{
        padding-left: 3vw;
    }

    .despBox{
        
        font-size: 16px;
        
    }
    
}

@media only screen and (max-wdith: 375px){

    .projRow{
        margin-right: 10vw;
    }
    .despBox{
        margin-left: 10vw;
    }

}


@media only screen and (max-width:450px){
    .projRow{
        padding-left: 5vw;
    }
}





@media only screen and (max-width:1100px){

    .projCol{
    
        width: 80vw;
        height: 125vh;
        
    }
    
    .projectContainer{
        padding-top: 5vh;
        padding-left: 10vw;
    }
    
    .projRow{
        height: 50vh;
        width: 80vw;
        
        
    }

}












