.contactContainer{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(0, 0, 0);
    margin-top: 3vh;
    height: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: cursive;
    border-radius: 2vh;
    box-shadow: 10px 10px  rgb(175, 219, 246, 0.7);
    margin-bottom: 5vh;  
}

.form{
    height: 80vh;
    width: 50vw;
}

.messageInput{
    height: 25vh;
    width: 50vw;
    text-align: center;
    border-radius: 2vh;
}

.top{
    width: 50vw;
    height: 10vh;
    text-align: center;
    border-radius: 2vh;
}

.nameBox, .emailBox, .Message{
    margin-bottom: 2vh;    
}

.submitButton{
    color: green; 
    background-color: green;  
}

.subButton{
    width: 12vw;
    margin-left: 23vw;
}

.error{
    height:4vh;
    color: red;   
}

.buttonContainer{
    width: 54vw;
}

@media only screen and (max-width: 1024px){
    .subButton{
        width: 12vw;
        margin-left: 23vw;
    }
}

@media only screen and (max-width: 700px){
    .subButton{
        width: 20vw;
        margin-left: 17vw;
    }
    .contactContainer{
        height: 82vh;
    }
    .error{
        margin-bottom: 2.5vh;
    }

}

@media only screen and (max-width: 450px){
    .subButton{
        width: 22vw;
        margin-left: 16vw;
    }

    .error{
        margin-bottom: 4vh;
    }
}

@media only screen and (max-width: 300px){
    .subButton{
        width: 27vw;
        margin-left: 13.5vw;
    }

    .contactContainer{
        height: 90vh;
    }
    
    .error{
        margin-bottom: 7vh;
    }

    
}







