.projCol{
    width: 60vw;
    padding: 5vh;         
}

.projectContainer{
    padding-left: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vw;   
}

.projRow{
    height: 60vh;
    width: 60vw;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 3vh;
    box-shadow: 10px 10px  rgb(175, 219, 246);
    border-radius: 2vh;
    font-family: cursive;
}

.despBox{
    color: white;
    padding-top: 10vh; 
    width: 27vw;
    padding-right: 2vw;       
}

.imageBox,img{
    
    height: 55vh;
    width: 10vw;
    color:rgb(175, 219, 246);      
}

.imageBox,.despBox{
    margin-left: 1.2vw;
    margin-top: 3vh;
}

.maindesp{
    text-align: justify;
    padding-right: 2vw; 
    padding-top: 2vh;
}

.toolsBox{
    padding-top: 5vh;    
}

@media only screen and (max-width:1500px)
{
    .projCol{
    
        width: 80vw;
        height: 125vh;
        border-style: dotted;  
    }
    
    .projectContainer{
        padding-top: 2vh;
        padding-left: 10vw;
        overflow: hidden;
    }
    
    .projRow{
        height: 55vh;
        width: 80vw;
        margin: double;
        padding-top: 1vh;   
    }

    .imageBox,img{
        height: 49vh; 
    }
}

@media only screen and (max-width: 853px){
    .projRow{
        padding-left: 3vw;
        height: 72vh;
        margin-top: 1vh;
        font-size: smaller;
        margin-top: 3vh;
    }

    .despBox{
        
        font-size: 16px;
        padding-top: 42vh;
        margin-left: -80vw;
        width: 1vw;   
    }

    .imageBox,img{
        
        width: 20vw;
        height: 40vh;
        border-style: dotted();
        margin-left: -1.5vw;    
    }
    .imageBox{
        padding-top: -2vh;
    }
    .projectContainer{
        padding-top: 0.5vh;
    }

}

@media only screen and (max-width:450px){
    .projRow{
        padding-left: 3.5vw;
        height: 75vh;
        margin-top: 3vh;
    }

    .projectContainer{
        padding-top:1vh;
        padding-left: 9vw;
    }
}

@media only screen and (max-width: 376px){

    .projRow{
        width: 80vw;
        margin-right: 10vw;
        height: 90vh;
        margin-left: -1vw; 
        margin-top: 5vh;   
    }
    .projectContainer{
        padding-left: 10vw;
    }
  
}














